.chatbubble {
    border: 1px solid black;
    background-color: white;
    height: 20px;
    width: 80px;
    margin: 80px;
    margin-top: 40px;
    border-radius: 15px;
}

#icon {
    height: 7.5px;
    width: 6.5px;
    border: 1px solid black;
    margin-left: 55px;
    margin-top: -5px;
    transform: rotate(49deg) rotate(180deg);
    /* ------ rotong hidden line----- */
    outline: none;
    border: none;
    background-color: white;
    border-radius: px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#icon2 {
    height: 8px;
    width: 8px;
    border: 1px solid black;
    margin: 12.5px;
    transform: rotate(45deg) rotate(180deg);
    /* -------------hideing the lines----- */
    outline: none;
    border: none;
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
}